SENTRY_DSN=SENTRY DSN URL GOES HERE
SECRET_KEY=SECRET KEY GOES HERE
DEBUG=True or False
ENVIRONMENT=dev(development) or test(staging) or live(production)

ALLOWED_HOSTS=comma,separated,allowed,hosts
APP_URL=your_app_url_goes_here
FRONTEND_URL=your_frontend_url_goes_here

DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=your_database_host
DB_PORT=your_database_port

CORS_ALLOWED_ORIGINS= your_frontend_url_1,your_frontend_url_2
CSRF_TRUSTED_ORIGINS= your_frontend_url_1,your_frontend_url_2
OUTWARD_REQUEST_PROXY=your_proxy_url_goes_here (if needed, otherwise leave blank)

CELERY_BROKER_URL=your_celery_broker_url
CELERY_RESULT_BACKEND=your_celery_result_backend_url
CELERY_ACCEPT_CONTENT=['json']
CELERY_TASK_SERIALIZER='json'
CELERY_RESULT_SERIALIZER='json'
CELERY_TIMEZONE='UTC'
CELERY_ENABLE_UTC=True

STATIC_ROOT=your_static_root_path
MEDIA_ROOT=your_media_root_path

# MPESA C2B CONFIG
MPESA_SHORTCODE=your_mpesa_shortcode_goes_here
MPESA_PASSKEY=your_mpesa_passkey_goes_here
MPESA_CONSUMER_KEY=your_mpesa_consumer_key_goes_here
MPESA_CONSUMER_SECRET=your_mpesa_consumer_secret_goes_here

# MPESA B2C CONFIG
MPESA_B2C_SHORTCODE=your_mpesa_b2c_shortcode_goes_here
MPESA_B2C_CONSUMER_KEY=your_mpesa_b2c_consumer_key
MPESA_B2C_CONSUMER_SECRET=your_mpesa_b2c_consumer_secret_goes_here
MPESA_B2C_INITIATOR_NAME=your_mpesa_b2c_initiator_name_goes_here
MPESA_B2C_INITIATOR_PASSWORD=your_mpesa_b2c_initiator_password_goes_here

# Email Configuration
EMAIL_HOST=email_host_goes_here
EMAIL_PORT=email_port_goes_here
EMAIL_HOST_USER=email_host_user_goes_here
EMAIL_HOST_PASSWORD=email_host_password_goes_here
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=default_from_email_goes_here

# Static and Media files
STATIC_ROOT=your_static_root_path
MEDIA_ROOT=your_media_root_path

# Run Task Consumers
# celery -A core worker -n notification_worker@%h -Q email_tasks -l info
# celery -A core worker -n deposit_worker@%h -Q deposits -l info
# celery -A core worker -n callback_worker@%h -Q callback_tasks -l info
# celery -A core worker -n payout_worker@%h -Q payouts, payouts_results -l info